:root {
  --color1: #2e5077;
  --color2: #4da1a9;
  --color3: #79d7be;
  --color4: #f6f4f0;
}

body {
  background-color: #2e5077;
  color: var(--color1);
  font-family: "DM Serif Text", serif;
}

h1 {
  color: var(--color2);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
}

p {
  color: var(--color1);
  font-family: "DM Serif Text", serif;
  font-style: italic;
}

.rounded-img {
  width: 60%;
  border-radius: 60%;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0, 5);
  padding: 0, 6em;
  margin-bottom: 1em;
}
